/* search-section-mobile.css */
@media (max-width: 640px) {
    .react-select__control {
        min-height: 30px !important;
        font-size: 1rem !important;
        border-radius: 0.75rem !important;
    }

    .react-select__menu {
        font-size: 1rem !important;
    }

    .react-select__option {
        padding: 0.75rem 1rem !important;
    }
}
